<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid container">
      <a class="navbar-brand" href="/">BookPoster</a>
        <ul class="nav">
            <li class="nav-item"><a class="nav-link text-light" href="/books">Books</a></li>
            <li class="nav-item"><a class="nav-link text-light" href="/books/new">Add Book</a></li>
            <li class="nav-item"><a class="nav-link text-light" href="/authors">Authors</a></li>
            <li class="nav-item"><a class="nav-link text-light" href="/authors/new">Add Author</a></li>
        </ul>
    </div>
</nav>