<div class="row justify-content-center">
    <div class="col-sm-10 col-12">
        <h2 class="mb-4">Recently Added</h2>
        <hr>
        <div class="row">
            <% books.forEach(book => { %>
                <div class="col-lg-3 col-md-4 col-sm-6 my-2">
                    <div class="card">
                        <img src="<%= book.coverImagePath %>" class="card-img-top" height="150" style="object-fit: cover;">
                        <div class="card-body">
                            <h5 class="card-title"><%= book.title.charAt(0).toUpperCase() + book.title.slice(1) %></h5>
                        </div>
                        <div class="row justify-content-center mx-auto mb-2">
                            <div class="col-12 d-flex p-0">
                                <button class="btn btn-primary m-1 btn-sm">View</button>
                                <button class="btn btn-warning m-1 btn-sm">Edit</button>
                                <button class="btn btn-danger m-1 btn-sm">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</div>